body {
  background: white;
}
p {
  color: black;
}
h1 {
  font-weight: bold;
}

.python {

  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: lightgr;}
  25%  {background-color: yellow;}
  50%  {background-color: aqua;}
  100% {background-color: lightblue;}
}